site_name: V-Aerospace Engineering
site_url: https://v-aerospace.example
theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  icon: 
    logo: octicons/rocket-16
  palette: 
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: blue grey
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue grey
      accent: deep orange

  features:
    - navigation.tabs
    - navigation.footer
    - navigation.sections
    - navigation.path
    - toc.integrate

  
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
